# General
ENVIRONMENT=development

# Network
DOMAIN_NAME=localhost
SUBDOMAIN=n8n
SSL_EMAIL=tiagoramirez.dev@pm.me

# Timezone
GENERIC_TIMEZONE=America/Argentina/Buenos_Aires
TZ=America/Argentina/Buenos_Aires